.details__container {
  display: flex;
  justify-content: center;
}

.details__image {
  margin-right: 25px;
}
.details__content {
}
.details__content__title {
  margin-top: 0;
  text-align: center;
}
.link__details__block {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.link__details {
  text-align: center;
  display: inline-block;
  width: 150px;
  padding: 5px;
  background-color: rgb(153, 227, 229);
  border-radius: 5px;
  border: 1px solid tan;
  margin-top: 30px;
  margin-bottom: 30px;
}
.link__details:not(:last-child) {
  margin-right: 35px;
}
.link__details:hover,
.link__details:focus {
  transform: scale(1.1);
  transition: transform var(--animation-duration) var(--timing-function);
  transition: all 0.5s ease-out;
}
.details__options__list {
  margin-bottom: 15px;
}
.details__movie__about__title {
  /* margin-top: 0px; */
}
.details__movie__about__text {
  margin-top: 0px;
}
