.nav__menu__container {
  background-color: rgb(62, 73, 73);
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}

.nav__menu__list {
  display: flex;
  justify-content: center;
  margin: 0;
}
.nav__menu__item {
  padding: 5px;
  margin-right: 35px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(241, 219, 15);
}
.nav__menu__text {
  color: rgb(238, 232, 220);
}

.nav__menu__item:hover,
.nav__menu__item:focus {
  transform: scale(1.1);
  transition: transform var(--animation-duration) var(--timing-function);
  transition: all 0.5s ease-out;
}
